<%- include("partials/header"); -%>


 <div class="form">
    <h1>COMPOSE</h1>
<form action="" method="POST">
<label for="">Topic</label>
<br>
<input type="text" name="topic">
<br>
<label for="">Content</label>
<br>
<textarea name="content" id="" cols="30" rows="10"></textarea>
<br>
<button type="submit">COMPOSE</button>
</form>
</div> 


<%- include("partials/footer"); -%>